.item1{
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    justify-content: center;
    text-align: center;
}

.table {
    margin-left: auto;
    margin-right:auto;
    width: 50%;
}

.item1 > img{
    float: left;
    width: 10%;

}
.picture{
   width: 20%;
}

.item1>h3,h4{
    float: right;
}
.gridContainer{
        display: grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
        font-family: varela;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error{
  text-align: center;
  color: red;
}

.error1{

    text-align: center;
}

@font-face{
    font-family:  bodytext;
   url(basic-sans-serif.ttf) format("opentype");
}
