@import "variables.css";

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: var(--xsite-font-family);
    font-family: varela;
}

a[href] {
    color: var(--link-color);
}

a[href]:visited {
    color: var(--visited-link-color);
}

a[href]:active {
    color: var(--active-link-color);
}

  @font-face{
    font-family: varela;
    src:url(VarelaRound-Regular.ttf)
  }