
.container{
  text-align: center;
  font-family: varela;
}

@media only screen and (max-width: 800px) {
    *{
        display: block;
    	padding: 25px;
        margin-block: 15px;    	
    }
}